*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
}

/*card*/

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.card-sedans{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    background-color: hsl(31, 77%, 52%);
}
.card-suvs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    background-color:hsl(184, 100%, 22%) ;
}
.card-luxury{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    background-color: hsl(179, 100%, 13%);
}
p{
    display: flex;
    align-self: flex-start;
    padding:0 40px 85px 45px;
    color:hsla(0, 0%, 100%, 0.75) ;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5;
}
h1{
    display: flex;
    align-self: flex-start;
    color: hsl(0, 0%, 95%);
    font-family:'Big Shoulders Display', cursive;
    font-weight: bold;
    padding: 40px 0 40px 45px;
    text-transform: uppercase;
}
img {
    display: flex;
    align-self: flex-start;
    padding-left: 45px;
}

/* button*/
a{
    text-decoration: none;
}

.btn{
    display: flex;
    align-self: flex-start;
    margin-left: 45px;
    background-color: hsl(0, 0%, 95%);
    padding: 15px 30px;
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
  }

.btn-sedans{
    color:hsl(31, 77%, 52%);
    border: 1px solid hsl(0, 0%, 95%);
}
.btn-sedans:hover{
    color: hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
    border: 1px solid hsl(0, 0%, 95%);
}

.btn-suvs{
    color:hsl(184, 100%, 22%) ;
    border: 1px solid hsl(0, 0%, 95%);
}
.btn-suvs:hover{
    color: hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
    border: 1px solid hsl(0, 0%, 95%);
}

.btn-luxury{
    color: hsl(179, 100%, 13%) ;
    border: 1px solid hsl(0, 0%, 95%);
}
.btn-luxury:hover{
    color: hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
    border: 1px solid hsl(0, 0%, 95%);
}

/*Reponsive*/
/* Smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
    height: 1325px;
    width: 325px;
  }
  .container{
    padding: 90px 25px 90px 25px;
}
.card-sedans{
    max-width: 330px;
    max-height: 440px;
}
.card-suvs{
  max-width: 330px;
max-height: 440px;
}
.card-luxury{
  max-width: 330px;
  max-height: 440px;
}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .cards {
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    width: 920px;
  }
  .container{
      padding: 150px 260px 150px 260px;
  }
  .card-sedans{
      max-width: 306px;
  }
  .card-suvs{
    max-width: 306px;
}
.card-luxry{
    max-width: 306px;
}
}